/*-----------------------------------------------------------------*/
/***********************Light Opacity Suffix***********************/
/*-----------------------------------------------------------------*/

/* Module - Text Color and Background Color */
.light{
    background-image: url("../images/suffix-light.png"); background-repeat: repeat;
}

.custom.light, ul.light{
    background-image: none !important;
}

/*---------------------------------------------------------------------*/
/***********************End Light Opacity Suffix***********************/
/*---------------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/***********************Medium Opacity Suffix***********************/
/*-----------------------------------------------------------------*/

/* Module - Text Borders and Background Color */
.medium{
    background-image: url("../images/suffix-medium.png"); background-repeat: repeat;
}

.custom.medium, ul.medium{
    background-image: none !important;
}

/*---------------------------------------------------------------------*/
/***********************End Medium Opacity Suffix***********************/
/*---------------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/***********************Dark Opacity Suffix***********************/
/*-----------------------------------------------------------------*/

/* Module - Text Color and Background Color */
.dark{
    background-image: url("../images/suffix-dark.png"); background-repeat: repeat;
}

.custom.dark, ul.dark{
    background-image: none !important;
}


/*---------------------------------------------------------------------*/
/***********************End Dark Opacity Suffix***********************/
/*---------------------------------------------------------------------*/